/* LESSON 5: PRESTON TOWN CENTER */
@media only screen and (min-width: 649px) {
  .title {
    flex-basis: 30%;
  }

  .h1Width {
    min-width: 450px;
    font-size: 20px;
    margin: 0 5px;
  }

  .h2Width {
    min-width: 500px;
    margin: 0 auto;
    font-size: 20px;
  }

  #navUl nav li {
    max-width: 200px;
    margin: 0 23px;
  }

  .contact img {
    width: 100%;
    margin: 5px 0;
    /* display: none; */
  }

  /*****************************************/
} /* end Media Query */
