/* LESSON 5: PRESTON TOWN CENTER */

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  background-color: rgb(247, 241, 241);
  color: white;
}

.contentWrapper {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

body {
  background-color: #242323;
  margin: auto;
}

/* TODO: get a white mask on the intro with double background */
.intro {
  background-color: #ce1212e9;
  max-width: 1200px;
  padding: 10px;
  color: white;
}

/* experiment */
.mask {
  background-color: #fff;
  position: relative;
}
.hero {
  background: url(../images/guy-on-beach.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  overflow: hidden;
  z-index: -1;
}

/*

*********   HEADER   ***************************************

*/

header {
  display: flex;
  justify-content: center;
  padding: 1rem;
  text-align: center;
  max-width: 1200px;
  margin-bottom: 0;
}

/* end experiment */

.summary {
  height: 700px;
}

header img {
  width: 90px;
  height: 90px;
  /* float: left; */
  margin: auto 10%;
  border-radius: 50%;
}

header h1 {
  margin-left: 1rem;
}

.townName {
  text-align: center;
  font-family: "Lora", serif;
  font-weight: bold;
  font-size: 60px;
}

/*-----------------------------------------------------------*/

/*    NAV BAR    */

/*-----------------------------------------------------------*/
nav {
  font-family: "Nunito", sans-serif;
  max-width: 1200px;
  background-color: transparent;
}
nav button {
  margin: 0.2rem 2%;
  background-color: transparent;
  border: none;
  font-family: "lora", serif;
  font-size: 2rem; /* recommend @44px for easy to mash on a touch screen */
  color: #e7f20d;
}

#hamburger:hover {
  transition: ease-in-out;
  transform: translate(1%, 1%);
}

/*********************************************************

*************   Weather Summary button   *****************

**********************************************************/
#cloud {
  font-size: 3rem;
  letter-spacing: 4px;
  display: inline-block;
  padding: 6px;
  border: 4px solid rgba(128, 128, 128, 0.372);
  background-color: rgba(48, 46, 46, 0.296);
}

#weatherDetails li a {
  color: yellow;
}

#weatherDetails li a span {
  color: white;
  float: right;
}

#cloud:hover {
  transition: ease-in-out;
  transform: translate(1%, 1%);
}

.triangle {
  border-top: 53px solid rgb(178, 211, 16);
  border-right: 23px solid transparent;
  border-left: 23px solid transparent;
  float: right;
}

#weatherBox ul li:first-child {
  text-align: center;
  color: yellow;
  margin: 10px 0;
}

/***************************************************************/

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 2rem;
}

nav ul li a {
  display: block;
  padding: 0.8rem 2%;
  text-decoration: none;
  color: #fafafa;
  border-top: 2px solid rgba(0, 0, 0, 0.3);
  background-color: rgba(3, 3, 3, 0.31);
}

nav ul.hide {
  display: none;
  border-radius: 50%;
  text-align: center;
}

.hiddenMenu {
  display: flex;
}

/* keep the .css selector above the a:hover selector so the active menu item also changes colors */
nav ul li.active a {
  background-color: #26c4214b;
  color: #fff;
  font-size: 1.75rem;
}

nav ul li a:hover {
  background-color: #11646666;
  color: #fff;
  font-size: 2.2rem;
  transition: ease-in-out;
  transform: translate(1%, 0);
}

/*********************************************************

*************  MAIN   ************************************

**********************************************************/

main {
  display: flex;
}

section {
  background-color: #282727;
  margin: 4px 0;
  padding: 10px;
  color: #fff;
  max-width: 1200px;
}

.forecast {
  display: none;
}

.flex {
  display: flex;
}

.article {
  display: block;
  justify-items: center;
}

.article small {
  margin-top: 2px;
}

/*----------  FOOTER  -------------------------------------------------*/

footer {
  background-color: #116466;
  color: #fff;
  text-align: center;
  padding: 1rem;
  max-width: 1200px;
}

/***********  CLEAR FIX  ******************************************/

.clearFix:after {
  content: "";
  display: table;
  clear: both;
}
