body {
    background: lightblue;
    max-width: 700px;
}
/* ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
} */

li {
    display: block;
}

.box {
    background: yellow;
    border-radius: 7px;
    height: 50px;
    text-align: center;
    padding: 5px;
}