@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');



body {
    background: lightblue;
    margin-top: 60px;
    max-width: 700px;
    font-family: 'Roboto Condensed', sans-serif;    
}

.content {
    font-size: 1.5em;
}

h2 {
    font-size: 2em;
    font-weight: bold;    
}

img {
    position: relative;
    left: 250px;
    top: -83px;
    border-radius: 7px;
    box-shadow: 0px 0px 35px black;
}

.box {
    display: block;
    background: #0945d1;
    color: #b4b4c9;
    border-radius: 7px;
    height: 80px;
    text-align: center;
    padding: 5px;
}

li {
    display: block;
}

footer {
    position: relative;
    top: 130px;
    width: 700px;
    line-height: 1.5;
    font-size: 20px;
}
#updates {
    color: #ffd500;
}