body {
    background: lightblue;
    max-width: 700px;
}

img {
    display: float;
    left: 50px;
    top: 100px;
    border-radius: 7px;
}

li {
    display: block;
}

.box {
    background: yellow;
    border-radius: 7px;
    height: 80px;
    text-align: center;
    padding: 5px;
}

footer {
    position: absolute;
    bottom: 10px;
    width: 700px;
    line-height: 1.5;
}
#updates {
    color: red;
}