// MEDIUM MEDIA QUERY    IMPORTED INTO STYLES.SCSS

////////////////////////////////////
// HEADER
////////////////////////////////////
.header__company-name {
  font-size: 50px;
}

.header__logo {
  margin-top: 50px;
  margin-left: 50px;
  width: 90px;
  height: 90px;
}

////////////////////////////////////
// NAVBAR
////////////////////////////////////

.navigation {
  display: flex;
}
.navigation li {
  display: block; /* change state in small view */
  flex: 1 1 auto;
}
.navigation a {
  text-align: center;
}

.navigation li:first-child {
  display: none;
}

///////////////////////////////////
// MAIN
///////////////////////////////////
