/////////////////////////////////////////////
// COLOR SCHEME

$primary-color-dark: "#205067"; //darkslategray like on google site planning page
$primary-bgc-light: "#f5f5f5"; //offwhite
$primary-bgc-Dark: "#4094ba"; //steel blue for alternative box colors

$primary-accent: "#f74747"; //salmon pink color
$primary-cta: "#f16c07"; //dark safety orange

$heading-color: "green"; //dark green
$bullet-point-color: ""; //less dark green
$paragrahp-color: ""; // light bluegreen lik on google site planning document

//////////////////////////////////////////////
// TYPOGRAPHY FS - FONT SIZE  FF- FONT FAMILY

$title-fs: "64px"; //title font size
$heading-fs: "32px"; //heading font size for h1-h3
$bullet-fs: "16px"; //sub heading bullet point font size
$paragraph-fs: "14px"; // text font size

$title-ff: "Alegreya SC"; // title font family
$heading-ff: "Alegreya"; //heading font family for h1-h6
$bullet-ff: "Alegreya"; //sub heading bullet point font family
$paragraph-ff: "Alegreya Sans"; // text font family

// <style>
// @import url('https://fonts.googleapis.com/css2?family=Alegreya+SC:wght@700&family=Alegreya+Sans:wght@700&family=Alegreya:wght@500&display=swap');
// </style>

// CSS rules to specify families

// font-family: 'Alegreya SC', serif; this is for titles and h1 headings
// font-family: 'Alegreya', serif; this is for subheadings
// font-family: 'Alegreya Sans', sans-serif; for paragraph text and small print
