// COLOR SCHEME

$primaryColorDark: ""; //dark green like on google site planning page
$primaryBackground: ""; //offwhite
$primaryBackgroundDark: ""; //alternative box colors

$primaryAccent: ""; //salmon pink color
$primaryCTA: ""; //dark safety orange

$headingColor: ""; //dark green
$bulletPointColor: ""; //less dark green
$paragrahpColor: ""; // light bluegreen lik on google site planning document

// TYPOGRAPHY FS - FONT SIZE  FF- FONT FAMILY

$titleFS: ""; //title font size
$headingFS: ""; //heading font size for h1-h3
$bulletFS: ""; //sub heading bullet point font size
$paragraphFS: ""; // text font size

$titleFF: ""; // title font family
$headingFF: ""; //heading font family for h1-h6
$bulletFF: ""; //sub heading bullet point font family
$paragraphFF: ""; // text font family
