/* LESSON 9: FETCH API */

body {
  background-color: rgb(22, 21, 21);
}

.tri-city {
  border-radius: 20px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 10px;
  border: 3px solid rgba(148, 145, 145, 0.678);
  padding: 1rem;
  justify-content: center;
  margin: 2rem;
  box-shadow: 13px 13px 10px rgba(128, 128, 128, 0.426);
  background-color: rgb(220, 220, 210);
  border-radius: 10px;
}

.cards section {
  border: 1px solid gray;
  padding: 1rem;
  justify-items: center;
  object-fit: fill;
  box-shadow: 7px 7px 7px rgba(128, 128, 128, 0.426);
  border-radius: 7px;
  background-color: rgba(10, 9, 9, 0.399);
}

img {
  max-width: 100%;
  box-shadow: 7px 7px 7px rgba(128, 128, 128, 0.426);
  border-radius: 10px;
}

.cards section:nth-child(1),
section:nth-child(3) {
  display: none;
}

.cards section:nth-child(4),
section:nth-child(7) {
  display: none;
}

.cards h2 {
  text-align: center;
  color: yellow;
  margin-bottom: 0;
  padding-bottom: 0;
}

.cards h3 {
  text-align: center;
  margin-top: 0;
  padding-top: 4px;
}

#wireframes {
  font-size: 2rem;
}
