@media only screen and (min-width: 760px) {
    body {
        max-width: 700px;
    }

    .box {
        box-shadow: 10px 10px 10px rgb(90, 128, 139);
    }

    .box h1 {
        margin-top: 9%;
    }











}